/*

Reflux Template

https://templatemo.com/tm-531-reflux

*/

@import url(fontawesome.css);
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
body {
    font-family: 'Lato', sans-serif;
}

#page-wraper {
    background: #000000 no-repeat center center fixed;
}


/* Basic */

body {
    overflow-x: hidden;
}

input,
select,
textarea {
    outline: none;
}

a,
a:hover {
    text-decoration: none;
}

p {
    font-size: 16px;
    line-height: 24px;
    color: #fff;   
    
}

h4 {
    font-size: 26px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.25px;
}

img {
    width: 100%;
    overflow: hidden;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul li {
    display: inline-block;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.clearfix {
    zoom: 1;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.container {
    margin: 0 auto;
}

.main-nav {
    text-align: center;
}

.main-nav li:last-child a {
    border-bottom: 2px solid #fff;
}

.main-nav li {
    display: block;
}

.main-nav li a {
    height: 70px;
    line-height: 70px;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    width: 100%;
    transition: all 0.5s;
    border-top: 2px solid #fff;
}

.main-nav li:hover a,
.main-nav li.active a {
    background: #fff;
    color: #49274A;
}

/* Sidebar Menu */

.menu .image {
    margin-top: 60px;
}

.menu .image img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    text-align: center;
}

.menu .author-content {
    margin: 40px 0px 60px 0px;
}

.menu .author-content h4 {
    margin-bottom: 0px;
}

.menu .author-content span {
    font-size: 13px;
    font-style: italic;
    color: #fff;
}

.menu .social-network {
    margin-top: 60px;
}

.menu .social-network ul li {
    margin: 0 3px;
}

.menu .social-network ul li a {
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 14px;
    transition: all 0.5s;
}

.menu .social-network ul li a:hover {
    background-color: #fff;
    color: #AA98A9;
}

.menu .copyright-text {
    position: relative;
    margin-top: 60px;
}

.menu .copyright-text p {
    border-top: 1px solid rgba(250, 250, 250, 0.1);
    display: inline-block;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    font-size: 13px;
}

.menu:before,
.menu:after {
    content: "";
    display: table;
}

.menu:after {
    clear: both;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

.menu {
    text-align: center;
}

.menu::-webkit-scrollbar {
    display: none;
}

.menu {
    left: 10%;
  -webkit-transition: -webkit-transform 233ms cubic-bezier(0, 0, 0.21, 1);
  -webkit-overflow-scrolling: touch;
  background-color: #49274A;
  box-sizing: border-box;
  height: 100vh;  
  max-height: 100vh !important;
  max-width: 80vw !important;
  min-width: 45px !important;
  outline: none;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  padding: 0;
  position: fixed !important;
  top: calc(0px);  
  width: 20%;
  will-change: transform;
  z-index: 9999 !important;
}

.menu-toggle {
  color: #fff;
  cursor: pointer;
  font-size: 25px;
  position: fixed;
  right: 25px;
  top: 25px;
}

#menu-toggle {
    z-index: 999;
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    color: #AA98A9;
    background-color: #fff;
    width: 60px;
    height: 60px;
    text-align: center;
    display: inline-block;
    line-height: 60px;
}

.menu-close {
  cursor: pointer;
}

#menu-close {
    cursor: pointer;
    text-align: right;
    color: #AA98A9;
    background-color: #fff;
    width: 100%;
    height: 60px;
    text-align: center;
    display: inline-block;
    line-height: 60px;
}


/* Section */

.section {
    color: #fff;
    width: 55%;
    right: 10%;
    left: 35%;
    position: relative;
    min-height: 100vh;
    padding-bottom: 80px;
    border-bottom: 3px solid rgba(33, 20, 38);
    box-shadow: 0 4px 6px -2px rgba(219, 80, 255, 0.5)
}

.section-heading {
    text-align: center;
    padding: 80px 45px;
}

.section-heading h2 {
    font-size: 30px;
    font-weight: 800;
    color: #ffffff;
}

.section-heading .line-dec {
    width: 60px;
    height: 3px;
    background-color: #ffffff; 
    margin: 10px auto;
}

.section-heading span {
    display: block;
    margin-top: 5px;
    font-size: 16px;
    color: #ffffff;
    letter-spacing: 0.5px;
}


/* About Me */

section.about-me .section-heading span{
    border-radius:20px;
    padding: 10px; 
    background-color: rgba(33, 20, 38); /*41, 28, 46*/
    box-shadow: 0px 7px 29px 0px rgba(219, 80, 255, 0.5) 
}

/* Buttons */

.white-button a {
    display: inline-block;
    padding: 12px 20px;
    background-color: #fff;
    color: #AA98A9;
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all 0.5s;
}

.white-button a:hover {
    background-color: #AA98A9;
    color: #fff;
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #AA98A9;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all 0.5s;
    border: none;
    outline: none;
    cursor: pointer;
}

button:hover {
    outline: none;
    background-color: #AA98A9;
    color: #fff;
}


/* Left & Right Post */

.left-image-post,
.right-image-post {
    margin-top: 60px;
    padding-top: 60px;
    border-top: 2px solid rgba(250, 250, 250, 0.1);
}

.left-image img,
.right-image img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
}

.right-image-post h4,
.left-image-post h4 {
    margin-top: 30px;
}

.left-image-post p {
    margin-top: 20px;
    border-radius:20px;
    padding: 20px; 
    background-color: rgba(33, 20, 38);
    box-shadow: 4px 9px 16px rgba(219, 80, 255, 0.5)
}

.right-image-post p{
    margin-top: 20px;
    border-radius:20px;
    padding: 20px; 
    background-color: rgba(33, 20, 38);
    box-shadow: -4px 9px 16px rgba(219, 80, 255, 0.5)
}

.right-image-post .white-button,
.left-image-post .white-button {
    margin-top: 30px;
}


/* Skills */

section.my-services .section-heading span{
    border-radius:20px;
    padding: 20px; 
    background-color: rgba(33, 20, 38);
    box-shadow: 0px 7px 29px 0px rgba(219, 80, 255, 0.5)   
}

.my-services .col-md-6 {
    padding-left: 5px;
    padding-right: 5px;
}

.service-item {
    margin-bottom: 10px;
    padding: 50px;
    background-color: rgba(250, 250, 250, 0.1);
    transition: all 0.5s;
}

.service-item h4 {
    transition: all 0.5s;
}

.service-item p {
    transition: all 0.5s;
}

.service-item:hover {
    background-color: rgba(250, 250, 250, 1);
}

.service-item:hover h4 {
    color: #1e1e1e;
}

.service-item:hover p {
    color: #4a4a4a;
}



/* Portfolio */

section.my-work .section-heading {
    text-align: center;
    padding: 80px 45px 50px 45px;
}

section.my-work .section-heading span{
    border-radius:20px;
    padding: 20px; 
    background-color: rgba(33, 20, 38);
    box-shadow: 0px 7px 29px 0px rgba(219, 80, 255, 0.5)  
}

section.my-work h6 {
    font-size: 20px;
    font-weight: bolder;
}

/* Portfolio Links */
section.my-work a {
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

section.my-work a:hover {
    color: #F5F5F5;
    font-weight: bolder;
}

.lazyload {
    background: #f7f7f7;
}

.lazyloading {
    background: #f7f7f7 url(../assets/images/loading.gif) no-repeat center;
    min-height: 60px;
}


/* Contact Me */

section.contact-me {
    border-bottom: none;
    /* margin: auto; */
}

section.contact-me .section-heading h2{
    font-size: 32px;
}

section.contact-me .section-heading span{
    font-size: 23px;
    font-weight: bold;
        
}


section.contact-me .column {
    float: left;
    width: 33.33%;
    text-align:center;
    font-weight: bold;
    padding: 10px;       
}

section.contact-me .row{
    border-style: dotted;
    border-color: #AA98A9;
    border-width: 5px;
    background-color: rgba(255, 255, 255, 0.35);
    
}

section.contact-me .row:after {
    content: "";
    display: table;
    clear: both;
}

section.contact-me .column p{
    font-size:21px;   
}

section.contact-me a {
    width: 40px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    color: #fff;
    font-size: 14px;
    transition: all 0.5s;
}

section.contact-me a:hover{
    background-color: #fff;
    color: #AA98A9;
}

.tab1 {
    display: inline-block;
    margin-left: 20px;
}


#contact {
    text-align: center;
}

@media screen and (max-width: 1680px) {
    .menu {
        left: 5%;
    }

    .section {
        color: #fff;
        width: 65%;
        right: 5%;
        left: 30%;
    }
}

@media screen and (max-width: 1680px) and (min-width: 846px) { 
    .menu .social-network ul li a {
        width: 36px;
        height: 36px;
        line-height: 36px;
    }

    .menu .social-network ul li {
        margin: 0;
    }

    .menu .image {
        margin-top: 60px;
    }
}

@media screen and (max-width: 1280px) {
    .menu {
        left: 0%;
    }

    .right-image-post h4,
    .left-image-post h4 {
        margin-top: 0px;
    }

    .right-image-post p,
    .left-image-post p {
        margin-top: 15px;
    }

    .right-image-post .white-button,
    .left-image-post .white-button {
        margin-top: 25px;
    }

}

.menu .container {
    padding-left: 0;
    padding-right: 0;
}

@media screen and (max-width: 1280px) and (min-width: 846px) {
    .menu {
        width: 25%;
    }
}

#menu-toggle,
#menu-close {
    display: none;
}  

@media screen and (max-width: 845px) {        
    #menu-toggle,
    #menu-close {
        display: inline-block;
    }    

    .menu {        
        width: 320px;
        -webkit-transform: translateX(-100%) !important;
        transform: translateX(-100%) !important;
        transition: -webkit-transform 233ms cubic-bezier(0, 0, 0.21, 1);
        transition: transform 233ms cubic-bezier(0, 0, 0.21, 1);
        transition: transform 233ms cubic-bezier(0, 0, 0.21, 1), -webkit-transform 233ms cubic-bezier(0, 0, 0.21, 1);
    }

    .menu .image {
        margin-top: 40px;        
    }

    .menu .image img {
        width: 120px;
        height: 120px;
    }

    .menu .author-content {
        margin: 20px 0px 40px 0px;
    }

    .menu .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .menu.open {
        display: inline-block;
        -webkit-transform: translateX(0) !important;
                transform: translateX(0) !important;
    }

    .responsive-nav {
        display: inline-block;
    }
    .section {
        width: 94%;
        right: 3%;
        left: 3%;
    }
    
    .left-image-post img {
        margin-bottom: 30px;
    }
    .right-image-post img {
        margin-top: 30px;
    }
    
    
}















