/* This is the css that is used in the snake game html */

body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  color: white;
  font-size: 18 px;
} 

.header {
  padding: 60px;
  text-align: center;
  background-image: url('../images/background_pic_edited.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

.header h1 {
  font-size: 40px; 
}

.main {
  padding: 20px; 
}
span {
  font-size: 15px;
  font-weight: bold; 
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

@media screem and (max-width: 600px){
  .column {
   width: 50%;
  }
  .column img {
    height: 180px;
    width: 100%;
  } 
}

