/* This is the css that is used in the snake game html */

body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  background-color = #AA98A9;
} 

.header {
  padding: 60px;
  text-align: center;
  background-image: url('../images/background_pic.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

.header h1 {
  font-size: 40 px; 
}
