/* This is the css that is used in the snake game html */

body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  color: white;
  /* background-color: #AA98A9; */
} 

.header {
  padding: 60px;
  text-align: center;
  background-image: url('../images/background_pic_edited.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

.header h1 {
  font-size: 40 px; 
}

h2 {
  font-size: 25 px; 
}

span {
  font-weight: bold; 
}
