/* This is the css that is used in the snake game html */

body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
} 

.header {
  padding: 80px;
  text-align: center;
  background: #AA98A9;
  text-color: white;
}

.header h1 {
  font-size: 40 px; 
}
